@import url(https://fonts.googleapis.com/css?family=Poppins:300);

html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    z-index: 20;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: height 0.5s ease-in-out;
}

footer:hover {
    height: 100px;
}

footer img {
    width: 30px;
    margin-inline: 5px;
    border: 1px solid white;
}

.contact {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    padding: 5px;
    padding-inline: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.8);

}

.foo-contacts {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
}

.foo-contacts h1 {
    color: black;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

.foo-contacts hr {
    width: 1px;
    height: 80%;
    border: none;
    background-color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Slide1 content */

.mainpage-text {
    z-index: 6;
    color: white;
}

.mtext-1 {
    position: absolute;
    top: 33%;
    left: 5%;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 100px;
    font-style: italic;
}

.mtext-2 {
    position: absolute;
    top: 45%;
    left: 18%;
    font-family: "Jura", sans-serif;
    font-weight: 100;
    font-optical-sizing: auto;
    font-size: 60px;
    font-style: normal;
}

.mtext-3 {
    width: 100%;
    position: absolute;
    bottom: 2%;
    text-align: center;
    font-family: "Jura", sans-serif;
    font-weight: 100;
    font-optical-sizing: auto;
    font-size: 40px;
    font-style: normal;
}


/* Slide2 content */

.slide-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
    transform: translate3d(0, 0, 0);
    transition: transform 750ms ease-in-out;
    will-change: transform;
}

.car-name {
    display: grid;
    justify-items: center;
    position: relative;
    z-index: 6;
    top: 20%;
    left: 5%;
    height: 100px;
    color: white;
    grid-template-columns: 0fr 1fr 0fr;
}

.name-text {
    font-family: "K2D", sans-serif;
    font-weight: 300;
    font-style: normal;
    grid-column: 2;
    display: flex;
    align-items: center;
}


.top-l-shape {
    display: flex;
    flex-direction: row-reverse;
    /* Enable flexbox layout */
    color: white;
    /* For positioning the 'l-left' div */
}

.bottom-l-shape {
    display: flex;
    align-items: flex-end;
    /* Enable flexbox layout */
    color: white;
}

.l-top {
    width: 50px;
    /* Adjust width as needed */
    height: 3px;
    background-color: white;
    /* Adjust height as needed */
    /* Set color */
}

.l-left {
    width: 3px;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    background-color: white;
    /* Set color */
}

.l-right {
    width: 3px;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    background-color: white;
    /* Set color */
}

.l-bottom {
    width: 50px;
    /* Adjust width as needed */
    height: 3px;
    background-color: white;
    /* Adjust height as needed */
    /* Set color */
}

/* backlight */

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: black;

}


.back-light {
    width: 100%;
    height: 100%;
    filter: blur(200px);
}

.triangle {
    content: "";
    position: absolute;
    bottom: 15%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 30rem;
    border-radius: 200px;

    background-color: #768088;
}


/* Car image */

.car {
    z-index: 8;
    position: absolute;
    bottom: 0%;
    /* Use percentages for bottom positioning */
    right: 0%;
    max-width: 80%;
    /* Use percentages for right positioning */
}

.car-img {
    max-width: 100%;
    height: auto;
    /* Use vh for image height */
}


/* Car info */

.car-info {
    color: white;
    position: absolute;
    bottom: 40%;
    left: 5%;
    z-index: 7;
}

.car-info-ul {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.price {
    width: 100%;
    background-color: #003ACE;
    border-color: #003ACE;
    border: none;
    font-family: "Jura", sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: white;
    margin-top: 10px;
    transition: ease-in-out 0.5s;
    cursor: pointer;

}

.price:hover {
    transition: ease-in-out 0.5s;
    background: #049CE4;
    color: #fff;
    box-shadow: 0 0 5px #003ACE,
        0 0 25px #003ACE,
        0 0 50px #003ACE,
        0 0 100px #003ACE;
}

/*Back spray*/

.spray {
    z-index: 5;
    position: absolute;
    top: 5%;
    left: 5%;
}

.spray-img {
    width: 800px;
    height: auto;
    opacity: 0.7;
}

/* 5 slide */
.slide5-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.slide5-center h1 {
    text-align: center;
    z-index: 20;
}

.slide5-center button {
    margin-top: 20px;
    text-align: center;
}

.catalog-button {
    background-color: #003ACE;
    border-color: #003ACE;
    border: none;
    font-family: "Jura", sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: white;
    margin-top: 10px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    padding-inline: 10px;

}

.catalog-button:hover {
    transition: ease-in-out 0.5s;
    background: #049CE4;
    color: #fff;
    box-shadow: 0 0 5px #003ACE,
        0 0 25px #003ACE,
        0 0 50px #003ACE,
        0 0 100px #003ACE;
}